body{
    margin: 0%;
}

header{

    border: 10px solid #ffd60a;;

    background-color: #ffd60a;;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
     margin-top: -2%;
}
.logo{
    position: absolute;
    top: -9px;
    left: 450px;
    width: 70px;
}
section{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-left: 10%;
}
article{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 5%;
}
.letrinha{
    font-size: 15px;
}
aside{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
footer{
    text-align: center;
    font-size: 20px;
    border:  #ffd60a;
    background-color:  #ffd60a;
}