body{
    margin: 0%;
}

.titulo:hover{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 0px;
    
}

.titulo{
    transition: font-size 2s ease 0s;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
    font-size: 30px;
    cursor:pointer
    
}
header{
    background-color: #ffd60a;
    
}
 .logo{
     position: absolute;
     top: -10px;
     left: 450px;
     width: 70px;
     
     
}
#menu ul{
    list-style: none;
    text-align: center;
    padding-right: 100px;
    
}
#menu ul li{
     display:inline;
     margin: 0%;
     
}
#menu ul li a{
     padding: 15px 60px;
     display: inline-block;
     text-decoration: none;
     color: black;
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 15px;
}
#menu ul li a:hover{
    color: orange;
}
.paragrafo{
font-size: 50px;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}
article{
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: center;

}
footer{
    text-align: center;
    font-size: 20px;
    border:  #ffd60a;
    background-color:  #ffd60a;
}
